/**
 * ----------------------------------------------
 * COLOR CODES
 * ----------------------------------------------
 *
*/
/**
 * ----------------------------------------------
 * Font face
 * 
 */
@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin.woff2") format("woff2"), url("../fonts/roboto-thin.woff") format("woff"), url("../fonts/roboto-thin.ttf") format("truetype"), url("../fonts/roboto-thin.svg#roboto, sans-serif") format("svg"); }

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"), url("../fonts/roboto-light.svg#roboto, sans-serif") format("svg"); }

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.svg#roboto, sans-serif") format("svg"); }

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"), url("../fonts/roboto-medium.svg#roboto, sans-serif") format("svg"); }

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"), url("../fonts/roboto-bold.svg#roboto, sans-serif") format("svg"); }

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-black.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black.woff2") format("woff2"), url("../fonts/roboto-black.woff") format("woff"), url("../fonts/roboto-black.ttf") format("truetype"), url("../fonts/roboto-black.svg#roboto, sans-serif") format("svg"); }

.contact-button {
  padding: 7px 7px 7px 40px;
  border-radius: 100px;
  display: inline-block;
  background-color: #35555B;
  color: #ffffff !important;
  outline: 0;
  border: none;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  font-size: 16.8px;
  -webkit-box-shadow: 0 19px 24px 0 rgba(17, 37, 33, 0.1);
  box-shadow: 0 19px 24px 0 rgba(17, 37, 33, 0.1); }
  .contact-button:hover, .contact-button:focus {
    background-color: #1cb18f;
    border-color: #1cb18f;
    outline: 0; }
  .contact-button span {
    padding: 8px 13px;
    text-align: center;
    border-radius: 100%;
    background-color: #50E3C2;
    color: #2E3737;
    font-size: 16px;
    margin-left: 50px;
    outline: 0;
    display: inline-block; }

.view-doc-button {
  padding: 12px 25px;
  border-radius: 100px;
  display: inline-block;
  background-color: #35555B;
  color: #ffffff !important;
  outline: 0;
  border: none;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  text-decoration: none;
  border: 2px solid #50E3C2;
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  font-size: 16.8px;
  -webkit-box-shadow: 0 19px 24px 0 rgba(17, 37, 33, 0.1);
  box-shadow: 0 19px 24px 0 rgba(17, 37, 33, 0.1); }
  .view-doc-button:hover, .view-doc-button:focus {
    background-color: #1cb18f;
    border-color: #1cb18f;
    outline: 0; }

/*===== heading style 1 =====*/
.heading-1 {
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  font-size: 60px;
  color: #ffffff;
  letter-spacing: -1px;
  line-height: 70px; }
  @media only screen and (max-width: 1200px) {
    .heading-1 {
      font-size: 40px;
      line-height: 60px; } }
  @media only screen and (max-width: 767px) {
    .heading-1 {
      font-size: 35px;
      line-height: 50px; } }

/*===== heading style 2 =====*/
.heading-2 {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #454D4D;
  line-height: 56px;
  margin: 0px; }
  @media only screen and (max-width: 991px) {
    .heading-2 {
      font-size: 30px;
      line-height: 45px; } }
  @media only screen and (max-width: 767px) {
    .heading-2 {
      font-size: 22px;
      line-height: 40px; } }

/*===== heading style 3 =====*/
.heading-3 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #35555B;
  letter-spacing: 0.56px;
  line-height: 40px;
  margin: 0px 0px 61px 0px; }
  @media only screen and (max-width: 767px) {
    .heading-3 {
      font-size: 16px;
      line-height: 28px; } }

/*! ===== link style =====*/
.link-text {
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #50E3C2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .link-text:hover, .link-text:focus {
    text-decoration: none;
    outline: none;
    color: #20c7a1; }
  @media only screen and (max-width: 767px) {
    .link-text {
      font-size: 15px; } }

/**
 * ----------------------------------------------
 * SIMPLE RESET
 * ----------------------------------------------
 */
* {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff; }
  body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em; }
  body::-webkit-scrollbar-thumb {
    background: #a8f1e1; }
  body::-webkit-scrollbar-track {
    background: #d3f8f0; }

img {
  width: 100%; }

/**
 * ----------------------------------------------
 * CUSTOM CLASS
 * ----------------------------------------------
 */
.page-wrapper {
  position: relative; }

.fix-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (max-width: 500px) {
    .fix-container {
      padding: 0 3%; } }
  @media only screen and (min-width: 500px) and (max-width: 800px) {
    .fix-container {
      padding: 0 3%; } }

.white-space {
  height: 130px;
  width: 100%; }
  @media only screen and (min-width: 1370px) {
    .white-space {
      height: 160px; } }
  @media only screen and (max-width: 500px) {
    .white-space {
      height: 80px; } }
  @media only screen and (max-width: 400px) {
    .white-space {
      height: 50px; } }

.fix {
  margin: 0px;
  padding: 0px; }

.p-none {
  padding: 0px; }

.m-none {
  margin: 0px; }

.clear {
  clear: both; }

/*! ===== input field style =====*/
.input-field {
  border: 1px solid #FAFBFB;
  padding: 12px;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px; }
  .input-field:hover::-webkit-input-placeholder, .input-field:focus::-webkit-input-placeholder {
    color: #FAFBFB;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .input-field:hover:-ms-input-placeholder, .input-field:focus:-ms-input-placeholder {
    color: #FAFBFB;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .input-field:hover::-ms-input-placeholder, .input-field:focus::-ms-input-placeholder {
    color: #FAFBFB;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .input-field:hover::placeholder, .input-field:focus::placeholder {
    color: #FAFBFB;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

hr {
  height: 6px;
  width: 60px;
  background-color: #F8E71C;
  margin-bottom: 60px;
  margin-top: 15px;
  border-top: 0px; }

.p-top {
  padding-top: 140px; }

.p-top-bottom {
  padding: 140px 0px; }

.hover-overlay {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.custom-container {
  width: 75%;
  margin: 0px auto; }

.p-left-none {
  padding-left: 0px; }

.p-right-none {
  padding-right: 0px; }

.p-left {
  padding-left: 30px; }
  @media only screen and (max-width: 991px) {
    .p-left {
      padding-left: 15px; } }

.p-right {
  padding-right: 30px; }
  @media only screen and (max-width: 767px) {
    .p-right {
      padding-right: 15px; } }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1110px; } }

.eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media only screen and (max-width: 767px) {
  .col-xs-offset-right-3 {
    margin-right: 25%; } }

@media only screen and (max-width: 500px) {
  .custom-width {
    width: 100%; } }

header {
  background: url(../images/footer-bg.png) no-repeat center center;
  background-size: cover;
  height: 327px; }
  header .overlay {
    background: rgba(16, 15, 15, 0.5);
    height: 327px; }
    @media only screen and (max-width: 485px) {
      header .overlay {
        height: 370px; } }
  header img {
    width: auto;
    margin-top: 36px;
    margin-bottom: 7px; }
  header .heading-1 {
    margin-bottom: 39px; }
  header a {
    display: inline-block;
    margin: 0px 15px 30px; }
  @media only screen and (max-width: 485px) {
    header {
      height: 370px; } }

.main {
  padding: 72px 0px; }

footer {
  margin-bottom: 87px; }
  footer .footer-content {
    background: #FFFFFF;
    -webkit-box-shadow: 0 39px 34px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 39px 34px 0 rgba(0, 0, 0, 0.1);
    padding-top: 73px;
    padding-bottom: 50px; }
    footer .footer-content img {
      width: auto;
      margin-bottom: 15px; }
    footer .footer-content p {
      font-family: "Arimo", sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #50E3C2;
      letter-spacing: 0.62px;
      line-height: 34.4px; }
